html {
    background-color: antiquewhite;
}

.navbar-bar {
    display: flex;
    flex-direction: row;
    width: auto;
    position: sticky;
    z-index: 999;
    top: 0;
    background: linear-gradient(
            rgba(250, 235, 215, 1) 80%,
            rgba(250, 235, 215, 30%)
    ); /* #faebd7 */
}

.navbar {
    flex-direction: row;
    margin-left: auto;
    margin-right: 20px;
}

.navbar ul {
    gap: 25px;
    display: flex;
    margin-top: 25px;
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: #bbbbbb;
    font-size: large;
    text-decoration: none;
}

#home:hover {
    color: #66ccff;
    border-left: 3px solid;
    transition: 0.3s;
    filter: drop-shadow(0 0 25px #66ccff);
}

#about:hover {
    color: #ff6493;
    border-left: 3px solid;
    transition: 0.3s;
    filter: drop-shadow(0 0 25px #ff6493);
}

#service:hover {
    color: #00dc82;
    border-left: 3px solid;
    transition: 0.3s;
    filter: drop-shadow(0 0 25px #00dc82);
}

#team:hover {
    color: #dc00d4;
    border-left: 3px solid;
    transition: 0.3s;
    filter: drop-shadow(0 0 25px #dc00d4);
}

.page_title {
    width: fit-content;
    display: flex;
    margin-left: 20px;
}

.page_title img {
    margin-top: 10px;
}

.sec1 {
    display: flex;
    flex-direction: row;
}

.sec1 h1 {
    text-align: center;
    color: #66ccff;
}

.footer-div .footer-line {
    background: linear-gradient(0deg, #bbaa99, antiquewhite);
    height: 100px;
}

.footer-div .row {
    display: flex;
    flex-direction: row;
    background-color: #bbaa99;
}

.footer-div .row .foot1 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.footer-div .row .foot1 .goto {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0;
}

.goto li {
    list-style: none;
    padding-inline-end: 10px;
}

button {
    width: 100px;
    height: 70px;
    background-color: #bbaa99;
    border-color: #bbaa99;
}

input {
    width: 100px;
    height: 80px;
}